body {

    background-image: url(http://i.imgur.com/b9r5sEL.jpg);
}

.keys{

    display:flex-wrap;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    
}
.key {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    border-color:black;
    background-color: hsla(360, 100%, 0%, 0.40);
    color:white;
    font-size: 3em;
    width:2em;
    height: auto;
    margin:5px;
    padding:auto;    
    border-radius: 5px;
}

.key-legend {
    font-size: 0.30em;
    color: #ffcc60;
}

.key-pressed{
        display: flex;
        align-items: center;
        flex-direction: column;
        border-style: solid;
        border-width: 5px;
        border-color: #ffcc60;
        background-color: hsla(360, 100%, 0%, 0.40);
        color:white;
        font-size: 3em;
        width:2em;
        height: auto;
        margin:5px;
        padding:auto;    
        border-radius: 5px;
}